## Test was succesful
E18-D80NK IR sensor

Succussful object detection at range of 40 cm in a indoor lit environment. 

Device is robust and reliable 

Its essential that every part of this system is as simple as possible. Goal is to make this as acessible as possible.

Hopefully, it will inspire more people to expand on the project. 
