## Test was succesful

Ultrasonic Sensor HC-SR04

accurat object detection at range of 1metre, uses sound so material can affect output. less reliable than the infrared sensor, but it is very cheap compared to the infrared sensor.

It is clear that both are needed. 
